:root {
  --poppins-semibold: poppins-semibold;
  --poppins-bold: poppins-bold;
  --poppins-medium: poppins-medium;
  --poppins-regular: poppins-regular;
  --primary-color: #7b936f;
  --secondary-color: #5d706c;
  --krem-color: #f3ebe0;
  --hint-color: #898989;
  --gray-color: #494949;
  --font-color: #393a37;
  --bounce-animation: bounce 10s ease-in-out infinite;
  --transition-hover: all ease-in-out 0.2s;
}

@font-face {
  font-family: poppins-semibold;
  src: url("../../assets/font/poppins_semibold.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../../assets/font/poppins_bold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../../assets/font/poppins_medium.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../../assets/font/poppins_regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  overflow-x: hidden;
  font-family: var(--poppins-regular);
}

html {
  scroll-behavior: smooth;
}

.cart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-section h1 {
  font-size: 30px;
  font-family: var(--poppins-semibold);
  font-weight: 400;
  align-self: self-start;
}

.cart-header {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.cart-header h1 {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
}

.cart-section hr {
  margin-top: 30px;
  width: 815px;
  height: 1px;
  background-color: #c2c2c2;
  border: none;
}

.cart-section .cart-item {
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding-top: 20px;
}

.cart-section .cart-item img {
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.cart-section .cart-item .cart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -35px;
}

.cart-section .cart-item  h1 {
    font-family: var(--poppins-semibold);
    font-weight: 400;
    font-size: 20px;
    max-width: 200px;
    text-overflow: ellipsis;
    margin: auto;
    
}

.cart-section .cart-item .cart-text h3 {
    font-family: var(--poppins-semibold);
    font-weight: 400;
    font-size: 20px;
}

.cart-section .cart-item .cart-text p {
    font-family: var(--poppins-medium);
    font-weight: 400;
    color: #828282;
    font-size: 15px;
}

.cart-section .cart-item .qty {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: auto;
    width: auto;
    background-color: #EDEDED;
    margin: auto;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.cart-section .cart-item .qty h2 {
    font-size: 15px;
    padding-top: 5px;
}
