:root {
  --poppins-semibold: poppins-semibold;
  --poppins-bold: poppins-bold;
  --poppins-medium: poppins-medium;
  --poppins-regular: poppins-regular;
  --primary-color: #7b936f;
  --secondary-color: #5d706c;
  --krem-color: #f3ebe0;
  --hint-color: #898989;
  --gray-color: #494949;
  --font-color: #393a37;
  --bounce-animation: bounce 10s ease-in-out infinite;
  --transition-hover: all ease-in-out 0.2s;
}

@font-face {
  font-family: poppins-semibold;
  src: url("../../assets/font/poppins_semibold.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../../assets/font/poppins_bold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../../assets/font/poppins_medium.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../../assets/font/poppins_regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  overflow-x: hidden;
  font-family: var(--poppins-regular);
}

html {
  scroll-behavior: smooth;
}

.section-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  gap: 30px;
}

.section-history .h1 {
  color: black;
  font-family: var(--poppins-semibold);
  font-weight: 400;
  font-size: 30px;
  align-self: self-start;
  margin-left: 60px;
}

.section-history .item-history {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 1400px;
  height: auto;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
}

.section-history .item-history .item-history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-history .item-history .item-history-header .item-history-header-text {
  display: flex;
  flex-direction: column;
}

.section-history
  .item-history
  .item-history-header
  .item-history-header-text
  h2 {
  font-family: var(--poppins-medium);
  font-weight: 400;
  font-size: 15px;
}
.section-history
  .item-history
  .item-history-header
  .item-history-header-text
  p {
  font-family: var(--poppins-semibold);
  font-weight: 400;
  font-size: 15px;
}

.section-history hr {
  border: none;
  height: 1px;
  background-color: #c2c2c2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-history .item-history-detail {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0px;
}

.section-history .item-history-detail img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.section-history .item-history-detail .item-history-detail-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-history .item-history-detail .item-history-detail-text h2 {
  font-size: 30px;
  font-family: var(--poppins-semibold);
  font-weight: 400;
}

.section-history .item-history-detail .item-history-detail-text p {
  font-size: 13.5px;
  font-family: var(--poppins-medium);
  font-weight: 400;
  color: #828282;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* batas maksimal 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 400px;
}

.section-history .item-history-detail .item-history-detail-text .view {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}

.vertical {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.section-history .item-history-detail .item-history-detail-text .view img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.item-history-detail-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-history-detail-text-container button {
    height: 50px;
    width: 150px;
    background-color: #67AE6E;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: var(--poppins-semibold);
    font-size: 17px;
}