:root {
    --poppins-semibold: poppins-semibold;
    --poppins-bold: poppins-bold;
    --poppins-medium: poppins-medium;
    --poppins-regular: poppins-regular;
    --main-color: #7B936F;
    --secondary-color: #67ae6e;
    --hint-color: #898989;
    --gray-color: #494949;
    --bounce-animation: bounce 10s ease-in-out infinite;
    --transition-hover: all ease-in-out 0.2s;
  }
  
  @font-face {
    font-family: poppins-semibold;
    src: url("../../assets/font/poppins_semibold.ttf");
  }
  
  @font-face {
    font-family: poppins-bold;
    src: url("../../assets/font/poppins_bold.ttf");
  }
  
  @font-face {
    font-family: poppins-medium;
    src: url("../../assets/font/poppins_medium.ttf");
  }
  
  @font-face {
    font-family: poppins-regular;
    src: url("../../assets/font/poppins_regular.ttf");
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: white;
    overflow-x: hidden;
    font-family: var(--poppins-regular);
  }
  
  html {
    scroll-behavior: smooth;
  }

.detail-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.detail-section .detail-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.detail-section .detail-container img {
  width: 530px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.detail-section .detail-container .detail-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-section .detail-container .detail-text h1 {
  font-family: var(--poppins-bold);
  font-size: 35px;
  font-weight: 400;
}

.detail-section .detail-container .detail-text .detail-rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 5px;
  align-items: center;
}

.detail-section .detail-container .detail-text .detail-rating img {
  width: 16px;
  height: auto;
  object-fit: contain;
}

.detail-section .detail-container .detail-text .detail-rating p {
  color: #828282;
  font-size: 15px;
  margin-top: -5px;
  font-family: var(--poppins-medium);
}

.detail-section .detail-container .detail-text h2 {
  color: #009F56;
  font-size: 35px;
  font-family: var(--poppins-semibold);
  font-weight: 400;
  padding-top: 5px;
}

.detail-section .detail-container .detail-text p {
  color: #828282;
  font-family: var(--poppins-medium);
  width: 590px;
  padding-top: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Ganti 4 sesuai jumlah maksimal baris */
  -webkit-box-orient: vertical;
}

.detail-section .detail-container .detail-text hr {
  margin-top: 30px;
  width: 590px;
  height: 1px;
  background-color: #C2C2C2;
  border: none;
}

.detail-section .detail-container .detail-text .detail-button {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  gap: 15px;
}

.detail-section .detail-container .detail-text .detail-button button {
  color: white;
  background-color: #67AE6E;
  border-radius: 7px;
  padding: 10px 60px;
  border: none;
  font-family: var(--poppins-bold);
}

.detail-section .detail-container .detail-text .detail-button .btn-add {
  color: #67AE6E;
  background-color: white;
  border-radius: 7px;
  padding: 10px 60px;
  border: 2px solid #67AE6E;
  font-family: var(--poppins-bold);
}

.detail-section .detail-image-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  justify-content: center;
  align-self: flex-start; /* Mengatur container ke kiri */
  padding-left: 175px;
}

.detail-section .detail-image-container img {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.detail-section hr {
  margin-top: 30px;
  width: 1180px;
  height: 1px;
  background-color: #C2C2C2;
  border: none;
}

.detail-section h4 {
  align-self: flex-start;
  padding-left: 175px;
  font-size: 25px;
  padding-top: 20px;
  font-family: var(--poppins-semibold);
  font-weight: 400;

}

.merchant-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 670px;
}

.detail-section .horizontal {
  display: flex;
  flex-direction: row;
}

.detail-section .horizontal img {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.detail-section .horizontal .vertical {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 10px;
}

.detail-section .horizontal .vertical h1 {
  font-family: var(--poppins-semibold);
  font-size: 18px;
  font-weight: 400;
}

.detail-section .horizontal .vertical h2 {
  font-family: var(--poppins-medium);
  font-size: 15px;
  font-weight: 400;
  color: #828282;
}

.detail-section .horizontal .vertical .horizontal-text {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 10px;
}

.detail-section .horizontal .vertical .horizontal-text p {
  color: #00BE13;
  font-size: 12px;
  font-family: var(--poppins-semibold);
  font-weight: 400;
  background-color: rgba(0, 255, 25, 0.15);
  padding: 5px 10px;
  border-radius: 5px;

}

.merchant-container  button {
  color: white;
  background-color: #67AE6E;
  border-radius: 7px;
  padding: 0px 40px;
  border: none;
  height: 40px;
  font-family: var(--poppins-bold);
}

.detail-section .spec-container {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  gap: 190px;
}

.detail-section .spec-container .spec-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-section .spec-container .spec-vertical h1 {
  font-family: var(--poppins-bold);
  font-weight: 400;
  font-size: 25px;
}

.detail-section .spec-container .spec-vertical img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.detail-section .spec-container .spec-vertical .spec-horizontal {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.detail-section .spec-container .spec-vertical .spec-horizontal img {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.detail-section .spec-container .spec-vertical .spec-horizontal p {
  font-family: var(--poppins-medium);
  font-weight: 400;
  font-size: 15px;
  align-items: center;
}