:root {
  --poppins-semibold: poppins-semibold;
  --poppins-bold: poppins-bold;
  --poppins-medium: poppins-medium;
  --poppins-regular: poppins-regular;
  --primary-color: #7b936f;
  --secondary-color: #5d706c;
  --krem-color: #f3ebe0;
  --hint-color: #898989;
  --gray-color: #494949;
  --font-color: #393a37;
  --bounce-animation: bounce 10s ease-in-out infinite;
  --transition-hover: all ease-in-out 0.2s;
}

@font-face {
  font-family: poppins-semibold;
  src: url("../../assets/font/poppins_semibold.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../../assets/font/poppins_bold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../../assets/font/poppins_medium.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../../assets/font/poppins_regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  overflow-x: hidden;
  font-family: var(--poppins-regular);
}

html {
  scroll-behavior: smooth;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.popup-section {
  display: flex;
  flex-direction: column;
}

.popup-section h1 {
  font-size: 25px;
  font-family: var(--poppins-bold);
  font-weight: 400;
}

.popup-section p {
  font-size: 17px;
  font-family: var(--poppins-medium);
  font-weight: 400;
  margin-top: 10px;
}

.popup-section img {
  width: 115px;
  margin-top: 10px;
}

.popup-section textarea {
  height: 100px;
  padding: 8px; /* Beri padding normal */
  resize: none; /* Optional: Nonaktifkan resize */
  font-family: var(--poppins-medium);
  font-weight: 400;
  font-size: 10px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin-top: 10px;
}
.popup-section textarea::placeholder {
  text-align: start;
}

.popup-section textarea:focus {
  outline: none; /* Add your focus styles here */
  border: 2px solid var(--primary-color);
}

.popup-section button {
    background-color: #67AE6E;
    color: white;
    font-size:15px;
    font-family: var(--poppins-semibold);
    font-weight: 400;
    height: 50px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}


