:root {
  --poppins-semibold: poppins-semibold;
  --poppins-bold: poppins-bold;
  --poppins-medium: poppins-medium;
  --poppins-regular: poppins-regular;
  --primary-color: #7b936f;
  --secondary-color: #5d706c;
  --krem-color: #f3ebe0;
  --hint-color: #898989;
  --gray-color: #494949;
  --font-color: #393a37;
  --bounce-animation: bounce 10s ease-in-out infinite;
  --transition-hover: all ease-in-out 0.2s;
}

@font-face {
  font-family: poppins-semibold;
  src: url("../../assets/font/poppins_semibold.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../../assets/font/poppins_bold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../../assets/font/poppins_medium.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../../assets/font/poppins_regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  overflow-x: hidden;
  font-family: var(--poppins-regular);
}

html {
  scroll-behavior: smooth;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.popup textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.popup-buttons button {
  margin-left: 10px;
}
