:root {
    --poppins-semibold: poppins-semibold;
    --poppins-bold: poppins-bold;
    --poppins-medium: poppins-medium;
    --poppins-regular: poppins-regular;
    --primary-color: #7b936f;
    --secondary-color: #5d706c;
    --krem-color: #f3ebe0;
    --hint-color: #898989;
    --gray-color: #494949;
    --font-color: #393a37;
    --bounce-animation: bounce 10s ease-in-out infinite;
    --transition-hover: all ease-in-out 0.2s;
  }
  
  @font-face {
    font-family: poppins-semibold;
    src: url("../../assets/font/poppins_semibold.ttf");
  }
  
  @font-face {
    font-family: poppins-bold;
    src: url("../../assets/font/poppins_bold.ttf");
  }
  
  @font-face {
    font-family: poppins-medium;
    src: url("../../assets/font/poppins_medium.ttf");
  }
  
  @font-face {
    font-family: poppins-regular;
    src: url("../../assets/font/poppins_regular.ttf");
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: black;
    overflow-x: hidden;
    font-family: var(--poppins-regular);
  }
  
  html {
    scroll-behavior: smooth;
  }

  .catalog-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.catalog-title {
  padding-left: 150px;
  font-family: var(--poppins-semibold);
  font-weight: 400;
  font-size: 30px;
}

.catalog-filter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
  justify-content: center;
}

.catalog-search-input-wrapper {
  position: relative;
  width: 1000px;
  margin-bottom: 10px;
}

.catalog-search-input-wrapper input {
  color: #797979;
  font-size: 13px;
  font-family: var(--poppins-regular);
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 45px;
  background-color: white;
  border: 1px solid #797979;
  padding-left: 45px;
  box-sizing: border-box;
}

.catalog-search-icon {
  position: absolute;
  top: 53%;
  left: 17px;
  transform: translateY(-50%);
  width: 16.5px;
  height: 17px;
  pointer-events: none;
}

.catalog-search-input-wrapper input:focus {
  outline: none;
  border: 2px solid var(--main-color);
}

.catalog-filter-wrapper select {
  color: #797979;
  font-size: 13px;
  font-family: var(--poppins-regular);
  width: 215px;
  margin-top: 5px;
  border-radius: 5px;
  height: 45px;
  background-color: white;
  border: 1px solid #797979;
  padding: 0px 15px;
  box-sizing: border-box;
}

.catalog-filter-wrapper option {
  padding-right: 15px;
}

.catalog-product-container {
  display: flex;
  flex-direction: row;
  gap: 40px 50px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.catalog-product-item {
  display: flex;
  flex-direction: column;
}

.catalog-product-item img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}

.catalog-product-info {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 10px;
}

.catalog-product-info p {
  font-size: 15px;
  font-family: var(--poppins-regular);
}

.catalog-product-info h1 {
  font-size: 24px;
  font-family: var(--poppins-medium);
  font-weight: 300;
}

.catalog-product-info h3 {
  font-size: 18px;
  font-family: var(--poppins-medium);
  font-weight: 300;
  color: #009F56;
  margin-top: 5px;
}

.catalog-product-rating {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
}

.catalog-product-rating img {
  width: 85px;
  height: auto;
}

.catalog-product-rating h2 {
  font-size: 10px;
  font-family: var(--poppins-medium);
  color: #828282;
  font-weight: 400;
  margin-left: 7px;
}
